* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f5f5f5;
}

header {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.nav-img {
  max-width: 150px;
  border-radius: 50%;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.nav-menu {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  padding-right: 1rem;
}

.nav-item {
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}

.nav-item a {
  text-decoration: none;
  color: #8c8c8c;
}

.nav-item:hover {
  width: 100px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  background-color: #66b3a8;
  border-radius: 10px;
  transition: 0.3s;
}

.nav-item a:hover {
  color: #f5f5f5;
}
